{% include partials/header.html %}

  <div class="jumbotron">
    <p class="lead">
      {% if site.conference.main.logo.img %}
        <img src="{{ site.conference.main.logo.img | prepend: '/assets/images/' | prepend: site.baseurl }}" class="w-75 d-none d-md-inline" alt="{{ site.title }}" />
        <img src="{{ site.conference.main.logo.img | prepend: '/assets/images/' | prepend: site.baseurl }}" class="w-100 d-md-none" alt="{{ site.title }}" />
      {% elsif page.title %}
        {{ page.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </p>
    {% if site.description != none %}
      <h1 class="display-3 text-break">
        {{ site.description | markdownify | replace: '<h1>', '<h1 class="display-3 text-break">' }}
      </h1>
    {% endif %}

    <hr class="my-4">

    {{ content }}

  </div>

{% include partials/footer.html %}
